# Игнорируем папку node_modules
node_modules/

# Игнорируем папку с результатом сборки
build/

# Игнорируем временные файлы
*.tmp
*.log

# Игнорируем карты кода (если не нужны для отладки в репозитории)
*.map

# Игнорируем файлы операционной системы
.DS_Store
Thumbs.db

# Игнорируем файлы редакторов и сред разработки
.vscode/
.idea/
*.swp

# Игнорируем настройки npm и yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы с конфиденциальными данными (если есть)
.env
.env.local
